
#woocommerce-product-data ul.wc-tabs li.pmprowoo_tab a::before {
	font-family: Dashicons;
    content: "\f307";
}

.pmprowoo_options_group-membership_product h2,
.pmprowoo_options_group-membership_discount h2 {
	padding: 0 12px;
}
